.contato-form {
  width: 50%;
  margin-top: 20vh;
}

.contato-form-item {
  padding-top: 1vh;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 10px;
  color: #047060;
  font-weight: 500;
}

.contato-form-item input[type="text"],
.contato-form-item input[type="email"],
.contato-form-item input[type="tel"],
.contato-form-item select {
  font-family: "Montserrat", sans-serif;
  border: 1px solid #047060;
  padding: 5px;
  border-radius: 8px;
}

.contato-form-item select {
  color: #000;
}

.contato-form-item select:invalid {
  color: #757575;
  /* match default placeholder gray */
}

.contato-form-item select option {
  color: #000;
}

.contato-form-item textarea {
  font-family: "Montserrat", sans-serif;
  border: 1px solid #047060;
  padding: 5px;
  border-radius: 8px;
}

.contato-btn {
  background-color: #047060;
  border: none;
  width: 10vw;
  text-align: center;
  cursor: pointer;
  padding: 0.2rem;
  color: white;
  margin-top: 10px;
  border-radius: 8px;
}

.contato-btn:hover {
  background-color: #5de280;
}

.contato-form .form-control {
  border: 1px solid #047060;
  border-radius: 0;
}

.contato-form .form-label {
  color: #047060;
  font-weight: 500;
}

@media (max-width: 599px) {
  .contato-form {
    width: 80%;
    margin-top: 10vh;
  }

  .contato-form-item {
    padding-top: 2vw;
  }

  .contato-btn {
    width: 20vw;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .contato-form {
    width: 80%;
  }

  .contato-form-item {
    padding-top: 2vw;
  }

  .contato-btn {
    width: 20vw;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .contato-form {
    width: 50%;
  }

  .contato-form-item {
    padding-top: 2vw;
  }
}

@media (min-width: 1200px) {
  .contato-form {
    width: 50%;
  }

  .contato-form-item {
    padding-top: 1vh;
  }
}