.contato{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    margin: 0;
}

.contato-text{
    width: 50%;
    padding-top: 20vh;
}

.contato-text h3, .contato-text p{
    color: #047060;
}

.contato-text p{
    width: 50%;
}
@media (max-width: 599px) {
    .contato{
        flex-direction: column;
        gap: 5vw;
        margin: 0;
    }
    
    .contato-text{
        width: 80%;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    .contato{
        flex-direction: column;
        gap: 5vw;
        margin: 0;
    }
    
    .contato-text{
        width: 80%;
    }
}

@media (min-width: 900px) and (max-width: 1199px) {
    .contato{
        flex-direction: column;
        gap: 5vw;
        margin: 0;
    }
    
    .contato-text{
        width: 80%;
    }
}

@media (min-width: 1200px) {
    .contato{
        gap: 5vw;
        margin:0 10vw 10vh 10vw;
    }
    
    .contato-text{
        width: 80%;
    }
}