.contato-form {
  width: 50%;
  margin-top: 20vh;
}

.contato-form-item {
  padding-top: 1vh;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 10px;
  color: #047060;
}

.contato-form-item input[type="text"], .contato-form-item input[type="email"], .contato-form-item input[type="tel"]{
  border: 1px solid #047060;
  padding: 5px;
}

.contato-form-item textarea{
  border: 1px solid #047060;
  padding: 5px;
}

.contato-btn {
  background-image: url("/3p-Energia/images/BOTÃO 3P.png");
  background-size: cover;
  width: 10vw;
  text-align: center;
  cursor: pointer;
  padding: 0.2rem;
  color: white;
  border: none;
  background-color: white;
  margin-top: 10px;
}

.contato-btn:hover {
  background-image: url("/3p-Energia/images/BOTÃO 3P claro.png");
}

.contato-form .form-control{
  border: 1px solid #047060;
  border-radius: 0;
}

.contato-form .form-label{
  color: #047060;
  font-weight: 500;
}

@media (max-width: 599px) {
  .contato-form {
    width: 80%;
    margin-top: 10vh;
  }

  .contato-form-item {
    padding-top: 2vw;
  }
  .contato-btn {
    width: 20vw;
  }
}

@media (min-width: 600px) and (max-width: 899px) {
  .contato-form {
    width: 80%;
  }

  .contato-form-item {
    padding-top: 2vw;
  }
  .contato-btn {
    width: 20vw;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .contato-form {
    width: 50%;
  }

  .contato-form-item {
    padding-top: 2vw;
  }
}

@media (min-width: 1200px) {
  .contato-form {
    width: 50%;
  }

  .contato-form-item {
    padding-top: 1vh;
  }
}
