.contato-form{
    width: 50%;
}

.contato-form-item{
    padding-top: 1vh;
}
.contato-btn{
    background-color: #047060;
    border: 2px solid #5de280;
    border-radius: 2rem;
    width: 50%;
}

.contato-btn:hover {
    background-color: #5de280;
    border: 2px solid #5de280;
  }

@media (max-width: 599px) {
    .contato-form{
        width: 50%;
    }
    
    .contato-form-item{
        padding-top: 2vw;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    .contato-form{
        width: 50%;
    }
    
    .contato-form-item{
        padding-top: 2vw;
    }
}

@media (min-width: 900px) and (max-width: 1199px) {
    .contato-form{
        width: 50%;
    }
    
    .contato-form-item{
        padding-top: 2vw;
    }
}

@media (min-width: 1200px) {
    .contato-form{
        width: 50%;
    }
    
    .contato-form-item{
        padding-top: 1vh;
    }
}