.header-bg{
    background-color: #047060;
    padding: 2.5vw 0;
    z-index: 2;
}

.header-container{
    gap: 10vw;
}

.header-links{
    gap: 3vw;
}

.header-link{
    color: white;
    font-size: 1.1rem;
}

.header-link:hover{
    color: #5de280;
}

.header-btn{
    background-color: #047060;
    border: 2px solid #5de280;
    border-radius: 50px;
}
.header-btn:hover{
    background-color: #5de280;
    border: 2px solid #5de280;
}

.header-toggle{
    color: #5de280;
    background-color: white;
}