.header-bg {
  background-color: #047060;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: fixed;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
  z-index: 5;
  top: 0;
}

.header-bg.scrolled {
  background-color: white;
}

.header-container {
  gap: 18vw;
  margin: 0;
  padding: 0;
  top: 0;
}

.header-links {
  margin: 0 1rem;
}

.header-link {
  color: white;
  font-weight: 500;
  font-size: clamp(0.8rem, 2.5vw, 1.1rem);
  text-align: center;
  align-items: center;
  justify-content: center;
}

.header-bg.scrolled .header-link {
  color: #047060;
}

.header-link:hover {
  color: #5de280;
}

.navbar-nav .header-link.active {
  color: #5de280;
}

.header-toggle {
  color: #5de280;
  background-color: white;
}

.header-logo img {
  content: url("/images/3p logo branco e laranja.png");
  max-height: 100px;
}

.header-bg.scrolled .header-logo img {
  content: url("/images/REDESIGN 3P ENERGIA COLORIDO.png");
  max-height: 100px;
}



@media (max-width: 991px) {
  .header-container {
    gap: 0vw;
  }

  .header-logo img,
  .header-bg.scrolled .header-logo img {
    max-height: 60px;
  }
}