.PEGContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30vh;
}

.PEGContent-1,
.PEGContent-2,
.PEGContent-3,
.PEGContent-4,
.PEGContent-5,
.PEGContent-6,
.PEGContent-7,
.PEGContent-8,
.PEGContent-9,
.PEGContent-10,
.PEGContent-11,
.PEGContent-12 {
  color: #047060;
  margin: 4.25vw 10vw 0vh 10vw;
}

.PEGContent-1 h2,
.PEGContent-2 h2,
.PEGContent-3 h2,
.PEGContent-4 h2,
.PEGContent-5 h2,
.PEGContent-6 h2,
.PEGContent-7 h2,
.PEGContent-8 h2,
.PEGContent-9 h2,
.PEGContent-10 h2,
.PEGContent-11 h2,
.PEGContent-12 h2 {
  font-size: 3.5rem;
}

.PEGContent-1 p,
.PEGContent-2 p,
.PEGContent-3 p,
.PEGContent-4 p,
.PEGContent-5 p,
.PEGContent-6 p,
.PEGContent-7 p,
.PEGContent-8 p,
.PEGContent-9 p,
.PEGContent-10 p,
.PEGContent-11 p,
.PEGContent-12 p {
  font-size: 1.2rem;
}

.PEGContent-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  margin-top: 0px;
}
.PEGContent-1 p,
.PEGContent-1 h2 {
  width: 50%;
}

.PEGContent-1 p{
  padding-top: 10px;
}

.PEGContent-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  padding-bottom: 20px;
}

.PEGContent-2-p {
  background-image: url("/3p-Energia/images/botao 11.png");
  background-size: 100% 100%;
  width: calc(100% / 5);
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
  color: #047060;
  font-weight: 600;
}

.PEGContent-2 p {
  text-align: center;
  justify-content: center;
  padding: 1rem;
  margin: 0;
}

.PEGContent-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin: 0;
  margin-bottom: 6rem;
  background-color: #f0f0f0;
  padding: 4.25vw 0;
}

.PEGContent-3-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.PEGContent-3-text h2,
.PEGContent-3-text p {
  padding: 1rem;
}

.PEGContent-3 img {
  height: 30vw;
  max-height: 400px;
}

.PEGContent-3-accordion {
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 0;
}

.PEGContent-3-accordion .accordion-button::after {
  padding-left: 2rem;
}

.PEGContent-3-accordion li {
  color: #047060;
}

.PEGContent-3-accordion .accordion-button {
  color: #047060;
  border: none;
  padding: 0;
}

.accordion-item {
  border: none;
}
.accordion-button:not(.collapsed) {
  background-color: white;
  outline: none;
}
.accordion-button:focus {
  box-shadow: none;
}

.PEGContent-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin-bottom: 0;
}

.PEGContent-5-text {
  width: 70%;
  text-align: center;
}

.PEGContent-6 {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  background-image: url("/3p-Energia/images/botao-comprido.png");
  background-size: 100% 100%;
  width: 80%;
  height: auto;
  padding: 1rem;
  margin: 0 10vw;
}
.PEGContent-6 p,
.PEGContent-6 h3 {
  margin: 0;
}

.accordion-button-ambiental {
  background-color: #fff;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.accordion-button-social {
  background-color: #fff;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.PEGContent-7 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  margin-top: 2rem;
}

.PEGContent-7 .accordion-button {
  color: #047060;
  font-weight: 600;
}

.PEGContent-7 p {
  grid-column: 1 / span 1;
  color: #047060;
}

.PEGContent-8 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.PEGContent-8 p, .PEGContent-8 h2 {
  width: 80%;
}


.PEGContent-9 {
  text-align: center;
  margin-bottom: 3rem;
}

.PEGContent-10 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem;
  margin-top: 2rem;
}

.PEGContent-10 .accordion-button {
  color: #047060;
}

.PEGContent-10 p {
  color: #047060;
}

.PEGContent-11 {
  margin: 0;
  width: 100%;
}

.PEGContent-11-form-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PEGContent-11-form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: #bd791a;
  justify-content: center;
  align-items: c;
  color: white;
}

.PEGContent-11-form h2{
  text-align: left;
  padding-left: 2.5rem;
  font-size: 2rem;
  padding-left: 16.5vw;
}

.PEGContent-11-form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.PEGContent-11-form-item {
  width: 50%;
  padding: 1rem;
}

.PEGContent-11-form-item:last-child {
  width: 100%;
}

.PEGContent-11-btn {
  background-image: url("/3p-Energia/images/BOTÃO 3P.png");
  background-size: cover;
  width: 10vw;
  text-align: center;
  cursor: pointer;
  padding: 0.2rem;
}

.PEGContent-11-btn:hover{
  background-image: url("/3p-Energia/images/BOTÃO 3P claro.png");

}

@media (max-width: 599px) {
  .PEGContent-1 {
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 30px;
  }
  .PEGContent-1 p,
  .PEGContent-1 h2 {
    width: 100%;
    text-align: center;
  }
  .PEGContent-1 h2{
    font-size: 2rem;
  }

  .PEGContent-2 {
    flex-direction: column;
    gap: 20px;
    margin:auto;
    width: 40vw;
  }
  .PEGContent-2-p {
    width: 100%;
    font-size: 1rem;
    line-height: 20px;
  }

  .PEGContent-3{
    display: flex;
    flex-direction: column-reverse;
    margin: 0
    ;
  }

  .PEGContent-3 img {
    height: 400px;
  }

  .PEGContent-3-text{
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .PEGContent-3-text h2{
    font-size: 2rem;
  }

  .PEGContent-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0;
  }
  
  .PEGContent-5-text {
    width: 70%;
    padding:20px;
    text-align: center;
  }

  .PEGContent-5-text h2{
    font-size: 2rem;
  }

  .PEGContent-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #047060;
    background-image: none;
    width: auto;
    padding: 10px;
    margin: 0 50px;
  }
  .PEGContent-6 p,
  .PEGContent-6 h3 {
    margin: 0;
    width: 50%;
    padding: 10px;
  }

  .PEGContent-7 {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 20px;
  }

  .PEGContent-8 {
    flex-direction: column;
    gap: 40px;
    margin: 0;
    text-align: center;
  }
  
  .PEGContent-8 p, .PEGContent-8 h2 {
    width: 80%;
  }

  .PEGContent-8 h2{
    font-size: 2rem;
  }

  .PEGContent-9{
    margin: 50px;
  }

  .PEGContent-9 h2{
    font-size: 2rem;
  }

  .PEGContent-10 {
    grid-template-columns: repeat(1, 1fr);
  }

  .PEGContent-11-btn {
    width: 20%;
  }
}


@media (min-width: 600px) and (max-width: 899px) {
  .PEGContent-1 {
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 30px;
  }
  .PEGContent-1 p,
  .PEGContent-1 h2 {
    width: 100%;
    text-align: center;
  }
  .PEGContent-1 h2{
    font-size: 2rem;
  }

  .PEGContent-2 {
    flex-direction: column;
    gap: 20px;
    margin:auto;
    width: 40vw;
  }
  .PEGContent-2-p {
    width: 100%;
    height: 150px;
    font-size: 1rem;
  }

  .PEGContent-3{
    display: flex;
    flex-direction: column-reverse;
    margin: 0
    ;
  }

  .PEGContent-3 img {
    height: 400px;
  }

  .PEGContent-3-text{
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .PEGContent-3-text h2{
    font-size: 2rem;
  }

  .PEGContent-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0;
  }
  
  .PEGContent-5-text {
    width: 70%;
    padding:20px;
    text-align: center;
  }

  .PEGContent-5-text h2{
    font-size: 2rem;
  }

  .PEGContent-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #047060;
    background-image: none;
    padding: 10px;
    margin: 0 50px;
    width: auto;
  }
  .PEGContent-6 p,
  .PEGContent-6 h3 {
    margin: 0;
    width: 50%;
    padding: 10px;
  }

  .PEGContent-7 {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 20px;
  }

  .PEGContent-8 {
    flex-direction: column;
    gap: 40px;
    margin: 0;
    text-align: center;
  }
  
  .PEGContent-8 p, .PEGContent-8 h2 {
    width: 80%;
  }

  .PEGContent-8 h2{
    font-size: 2rem;
  }

  .PEGContent-9{
    margin: 50px;
  }

  .PEGContent-9 h2{
    font-size: 2rem;
  }

  .PEGContent-10 {
    grid-template-columns: repeat(1, 1fr);
  }

  .PEGContent-11-btn {
    width: 20%;
  }
}


@media (min-width: 900px) and (max-width: 1199px) {
  .PEGContent-1 {
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 30px;
  }
  .PEGContent-1 p,
  .PEGContent-1 h2 {
    width: 100%;
    text-align: center;
  }
  .PEGContent-1 h2{
    font-size: 2rem;
  }

  .PEGContent-2 {
    flex-direction: column;
    gap: 20px;
    width: 40vw;
    margin: auto;
  }
  .PEGContent-2-p {
    width: 100%;
    height: 150px;
    font-size: 1rem;
  }

  .PEGContent-3{
    display: flex;
    flex-direction: column-reverse;
    margin: 0
    ;
  }

  .PEGContent-3 img {
    height: 400px;
  }

  .PEGContent-3-text{
    margin: 0;
    padding: 0;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .PEGContent-3-text h2{
    font-size: 2rem;
  }

  .PEGContent-5 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 30px 0 0 0;
  }
  
  .PEGContent-5-text {
    width: 50%;
    padding:20px;
    text-align: center;
  }

  .PEGContent-5-text h2{
    font-size: 2rem;
  }

  .PEGContent-6 {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    border: 2px solid #047060;
    background-image: none;
    padding: 10px;
    margin: 0 50px;
    width: auto;
  }
  .PEGContent-6 p,
  .PEGContent-6 h3 {
    margin: 0;
    width: 50%;
    padding: 10px;
  }

  .PEGContent-7 {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 20px;
  }

  .PEGContent-8 {
    flex-direction: column;
    gap: 40px;
    margin: 0;
    text-align: center;
  }
  
  .PEGContent-8 p, .PEGContent-8 h2 {
    width: 80%;
  }

  .PEGContent-8 h2{
    font-size: 2rem;
  }

  .PEGContent-9{
    margin: 50px;
  }

  .PEGContent-9 h2{
    font-size: 2rem;
  }

  .PEGContent-10 {
    grid-template-columns: repeat(1, 1fr);
  }
}
