.carousel-container {
  height: 80%;
}
.green-filter {
  filter: brightness(115%) hue-rotate(90deg);
  height: 20%;
}

[data-bs-theme="dark"] .carousel .carousel-indicators [data-bs-target],
[data-bs-theme="dark"].carousel .carousel-indicators [data-bs-target] {
  background-color: #047060;
  padding-bottom: 10px;
}
.carousel-caption {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  display: flex;
  flex-direction: column;
  height: auto
}

.text-center.carousel-caption{
  height: 20%;
}

.carousel-item img{
  height:50vh;
}

.carousel-caption h5 {
  color: #047060;
}

.carousel-caption p {
  text-align: justify;
  color: #047060;
}

.carousel-icon{
    color: #047060;
    padding-right: 00px;
    font-size: 2.5rem;
    padding-bottom: 10px;
}

@media (max-width: 599px) {
    .carousel-item img{
        height: 600px;
    }

    .carousel-caption{
        width: 75%;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    .carousel-item img{
        height: 600px;
    }

    .carousel-caption{
        width: 75%;
    }
}

@media (min-width: 900px) and (max-width: 1199px) {
    .carousel-item img{
        height: 500px;
    }

    .carousel-caption{
        width: 75%;
    }
}

