.clientes {
  display: flex;
  flex-direction: column;
  padding: 4.25vw;
}

.clientes h2 {
  font-size: 2.5rem;
  color: #047060;
  margin-left: 3vw;
}
.clientes img {
  max-width: 150px;
  margin: 30px;
}

@media (max-width: 599px) {
  .clientes {
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    padding: 50px 50px 0 50px;
    height: 45vh;
  }

  .clientes h2 {
    font-size: 2.5rem;
    color: #047060;
    text-align: center;
  }
  .clientes img {
    width: auto;
    height: auto;
    margin: 0;
    align-self: center;
    justify-self: center;
  }

  .clientes-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-top: 40px;
  }
  .carousel-inner{
    display: flex;
    align-content: center;
  }

  .carousel-item img {
    width: 300px;
    height: 300px;
  }

  .carousel-control-next-icon, .carousel-control-prev-icon {
    display: none;
  }

}

@media (min-width: 600px) and (max-width: 899px) {
  .clientes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  .clientes h2 {
    font-size: 3.5rem;
    color: #047060;
    text-align: center;
  }
  .clientes img {
    width: auto;
    height: auto;
    margin: 0;
  }

  .clientes-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-top: 40px;
  }
}

@media (min-width: 900px) and (max-width: 1199px) {
  .clientes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
  }

  .clientes h2 {
    font-size: 3.5rem;
    color: #047060;
    text-align: center;
  }
  .clientes img {
    width: auto;
    height: auto;
    margin: 0;
  }

  .clientes-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding-top: 40px;
  }
}

@media (min-width: 1200px) {
  .clientes {
    display: flex;
    flex-direction: column;
    padding: 4.25vw 130px;
  }

  .clientes h2 {
    font-size: 2.5rem;
    color: #047060;
  }
  .clientes img {
    max-width: 150px;
    margin: 30px;
  }

  .clientes-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
