.clientes{
    display: flex;
    flex-direction: column;
    padding: 180px;
}

.clientes h2{
    font-size: 3.5rem;
    color: #047060;
}
.clientes img{
    max-width: 150px; 
    margin: 30px;
}

@media (max-width: 991px) {
    .clientes{
        padding: 0;
    }

    .clientes h2{
        padding: 80px 80px 40px 80px;
        align-self: center;
    }
}