.linha{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 12.5vw;
}

.linha h2{
    color: #047060;
    font-size: 3.5rem;
    text-align: center;
    padding-bottom: 6.25vw;
    padding-left: 1.5vw;
}

.linha img{
    padding-right: 6.25vw;
}

@media (max-width: 599px) {
    .linha img{
        margin: 0;
        padding: 0;
        width: 80%;
    }
    .linha h2{
        font-size: 2.5rem;
    }
}

@media (min-width: 600px) and (max-width: 899px) {
    .linha img{
        margin: 0;
        padding: 0;
    }
}



