.quem-somos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 4.25vw 0;
    background-color: #f0f0f0;
    width: 100%;
}

.quem-somos img {
    height: 40vh;
    padding-bottom: 30px;
}

.text{
    width: 37%;
    display: flex;
    flex-direction: column;
}

.text h2{
    font-size: 2.5rem;
    color: #047060;
}

.text p {
    font-weight: 500;
    color: #047060;
}
@media (max-width: 599px) {
    
    .quem-somos img{
        margin: 20px 0 20px 0;
    }
}

@media (max-width: 991px) {
    .quem-somos{
        flex-direction: column;
        margin: 0;
        gap: 12px;
    }
    .quem-somos img {
        height: 20vh;
    }
    
    .text{
        width: 80%;
        text-align: center;
    }

    .text h2{
        font-size: 2.5rem;
    }


}