.servicos {
    margin: 6.25vw 25vw;
  }
  
  .servicos h3 {
    text-align: center;
    margin-bottom: 5vw;
    font-size: 3.5rem;
    color: #047060;
  }

  .servicos p {
    text-align: center;
    margin-bottom: 8.75vw;
    color: #047060;
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .servicos-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .servico {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 6.25vw 1.25vw;
    margin: 1.25vw 2.5vw;
    background-image: url('/3p-Energia/images/caixa-3p.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

  
  .icon {
    font-size: 3rem;
    color: #047060;
    padding-top: 5px;
  }
  
  .servico-text {
    margin-top: 10px;
    width: 60%;
    color: #047060;
    padding-top: 20px;
  }
  
 
  
  /* Medium devices (between 600px and 900px) */
  @media (max-width: 599px) {
  .servicos {
    margin: 50px 20px;
  }

  .servicos h3{
    font-size: 2.5rem;
  }

  .servico {
    width: 60%;
    height: 30%;
    margin: 10px;
    padding: 20px;
  }

  .servicos-container{
    flex-wrap: wrap;
  }
}

/* Medium devices (between 600px and 900px) */
@media (min-width: 600px) and (max-width: 899px) {
  .servicos {
    margin: 50px 50px;
  }

  .servico {
    width: 70%;
    height: 30%;
    margin: 10px 100px;
    padding: 20px;
  }

  .servico-text {
    width: 80%;
  }

  .servicos-container {
    flex-wrap: wrap;
  }
}

/* Large devices (between 900px and 1200px) */
@media (min-width: 900px) and (max-width: 1199px) {
  .servicos {
    margin: 50px 100px;
  }

  .servico {
    width: 30%;
    height: 200px;
    margin: 10px;
    padding: 20px;
  }
  .servicos-container{
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .servicos {
    margin: 50px 100px;
  }

  .servico {
    justify-content: top;
    align-items: center;
    width: 15vw;
    height: 30vh;
    padding: 4.25vw 1.25vw 6.25vw 1.25vw;
    margin: 1.25vw 1.5vw;
    background-size: contain;
  }
 
}

  