.portfolio-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    z-index: 2;
    margin-top: 100px;
    
}
.portfolio-cards img{
    height: 300px;
    position: relative;
    transition: transform 0.2s ease;
    z-index: 2;
}

.portfolio-cards-item {
    flex: 0 0 calc(33.33%-20px);
    margin: 100px 10px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    
}

.portfolio-cards-text{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 90%;
    width: 80%;
    background-color: white;
    color: #047060;
    padding: 10px;
    border-radius: 20px;
    border: 3px solid #047060;
    z-index: 3;
  }

  .portfolio-cards-text:hover h3{
    color: #bd791a;
  }

.portfolio-cards-data{
    display: flex;
    gap: 20px;
    padding-top: 10px;
    color: #047060;
}
  

.portfolio-cards-item:hover img {
    transform: translateY(-10%);
  }

  @media (max-width: 599px) {}

  @media (min-width: 600px) and (max-width: 899px) {}
  
  @media (min-width: 900px) and (max-width: 1199px) {}
  
  @media (min-width: 1200px) {}