.portfolio-form{
    display: flex;
    flex-direction: column;
    margin: 100px 0px;
    padding: 20px;
    background-color: #bd791a;
    justify-content: center;
    align-items: left;
    color: white;
}

.portfolio-form h2{
    text-align: left;
    padding-left: 35px;
}
.portfolio-form-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.portfolio-form-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.portfolio-form-item{
    width: 50%;
    padding: 10px;    
}

.portfolio-form-item:last-child{
    width: 100%;
}

.portfolio-btn{
    background-color: #047060;
    border: 2px solid #5de280;
    border-radius: 50px;
    width: 10%;
}

.portfolio-btn:hover{
    background-color: #5de280;
    border: 2px solid #5de280;

}


@media (max-width: 991px) {
    .portfolio-form{
        margin: 80px 10px 10px 10px;
    }
}
